.attr-name {
	color: var(--colors-blue);
}

.attr-value {
	color: var(--colors-indigo);
}

.comment {
	color: var(--labels-secondary);
}

.function {
	color: var(--colors-purple);
}

.keyword {
	color: var(--colors-pink);
}

.property {
	color: var(--colors-brown);
}

.punctuation {
	color: var(--labels-primary);
}

.selector {
	color: var(--colors-blue);
}

.string {
	color: var(--colors-indigo);
}

.tag {
	color: var(--colors-purple);
}
