hr {
	background: var(--separators-non-opaque);
	border: unset;
	height: 0.5px;
	margin: 0px -16px;
}

.table-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.table {
	background: var(--bg-grouped-secondary);
	border-radius: 10px;
	overflow-x: auto;
}

.windows::-webkit-scrollbar {
	display: none;
}

table {
	border-collapse: collapse;
	white-space: pre;
	width: 100%;
}

td {
	border: 0.5px solid var(--separators-opaque);
	padding: 11px 16px;
}

td:first-child {
	border-left: unset;
}

td:last-child {
	border-right: unset;
}

tr:first-child td {
	border-top: unset;
}

tr:last-child td {
	border-bottom: unset;
}
